<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex,nofollow">
    <title>Blog</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 font-sans">
<nav class="md:hidden shadow bg-white px-4 py-4">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
            <a href="/" class="inline-block align-middle">Blog de Hugo</a>
        </div>
        <div class="col-span-6">
            <div class="text-right">
                <a class="inline-block align-middle" href="#" onclick="openSidebar()"><img class="w-6"
                                                                                           src="assets/images/menu.svg"></a>
            </div>
        </div>
    </div>
</nav>
<div class="xl:container mx-auto">
    <div class="grid grid-cols-12 gap-0">
        {% include 'Home/sidebar.html.twig' %}
        <div class="col-span-12 md:col-span-8 lg:col-span-9">
            <main class="p-4 md:p-5">
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </div>
</div>
<script src="assets/js/core.js"></script>
</body>
</html>