<!--
Template Name: Laung
Version: 1.0.0
Theme URL: https://angrystudio.com/themes/laung-free-tailwind-css-personal-blog-template
Author: AngryStudio
License: AngryStudio License
License URI: https://angrystudio.com/license/
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex,nofollow">
    <title>Blog</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 font-sans">
<nav class="md:hidden shadow bg-white px-4 py-4">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
            <a href="index.html" class="inline-block align-middle"><img class="w-28" src="assets/images/logo.png"></a>
        </div>
        <div class="col-span-6">
            <div class="text-right">
                <a class="inline-block align-middle" href="#" onclick="openSidebar()"><img class="w-6" src="assets/images/menu.svg"></a>
            </div>
        </div>
    </div>
</nav>
<div class="xl:container mx-auto">
    <div class="grid grid-cols-12 gap-0">
        <div class="col-span-12 md:col-span-4 lg:col-span-3">
            <aside id="sidebar" class="hidden md:block bg-gray-900 h-full px-10">
                <a href="#" id="close-menu" class="inline-block md:hidden" onclick="closeSidebar()">
                    <svg class="absolute top-5 right-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </a>
                <div class="sticky h-screen top-0 py-20 flex flex-wrap content-center">
                    <div class="w-full">
                        <a href="index.html"><img class="w-32 md:w-36" src="assets/images/logo-white.png"></a>
                    </div>
                    <div>
                        <ul class="w-full mt-20">
                            <li class="mb-5"><a href="index.html" class="text-gray-300 hover:text-white">Home</a></li>
                            <li class="mb-5"><a href="single.html" class="text-gray-300 hover:text-white">Single Post Layout</a></li>
                            <li class="mb-5"><a href="#" class="text-gray-300 hover:text-white">About</a></li>
                            <li><a href="#" class="text-gray-300 hover:text-white">Contact</a></li>
                        </ul>
                    </div>
                    <div class="w-full mt-20">
                        <ul>
                            <li class="inline-block mr-2">
                                <a href="#"><img class="w-5" src="assets/images/instagram.svg"></a>
                            </li>
                            <li class="inline-block mr-2">
                                <a href="#"><img class="w-5" src="assets/images/twitter.svg"></a>
                            </li>
                            <li class="inline-block mr-2">
                                <a href="#"><img class="w-5" src="assets/images/youtube.svg"></a>
                            </li>
                            <li class="inline-block mr-2">
                                <a href="#"><img class="w-5" src="assets/images/linkedin.svg"></a>
                            </li>
                            <li class="inline-block">
                                <a href="#"><img class="w-5" src="assets/images/facebook.svg"></a>
                            </li>
                        </ul>
                        <p class="text-gray-300 mt-5">&copy 2021 <a href="#">Laung</a>. All Rights Reserved</p>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-span-12 md:col-span-8 lg:col-span-9">
            <main class="p-4 md:p-5">
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Tech</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">Top 10 Upcoming Android Smartphones</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              37 mins ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow mt-5">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Travel</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">10 cheapest countries for travelers</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              5 hrs ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow mt-5">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Politics</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">The quick brown fox jumps over the lazy dog</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              2 days ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow mt-5">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Fashion</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">30 Best Short Hairstyles for Men</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              1 month ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow mt-5">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Creativity</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">Free Bundle of 500+ Photoshop Brushes</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              1 month ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow mt-5">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Fitness</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">Get 6 Pack Abs by Eating Pizza Everyday</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              2 months ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!-- Blog Post Start-->
                <div class="bg-white rounded shadow mt-5">
                    <div class="p-6 md:p-7 lg:p-9">
                        <a href="#" class="font-bold text-red-500">Health</a>
                        <h3 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2"><a href="#">How to Ruin your Health with our Protein Shakes?</a></h3>
                        <div class="mt-3 mb-3 text-sm text-gray-700 flex items-center">
                            <img src="assets/images/author.jpg" class="rounded-full w-7 h-7 inline mr-2">
                            <a href="#" class="font-bold text-gray-600">John Doe</a>
                            <span class="ml-3">
                              <svg class="inline mr-1 -mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                 <circle cx="12" cy="12" r="10"></circle>
                                 <polyline points="12 6 12 12 16 14"></polyline>
                              </svg>
                              3 months ago
                           </span>
                        </div>
                        <div class="text-base md:text-lg text-gray-500">
                            <p class="leading-7 lg:leading-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed magna auctor, vulputate neque eget, facilisis lorem. Vivamus semper eros id mauris maximus pulvinar. In hac habitasse platea dictumst. Integer non sagittis ligula. Nunc pretium sem lobortis eleifend consequat...</p>
                        </div>
                        <a href="#" class="mt-4 inline-block font-bold text-red-500">Read more...</a>
                    </div>
                </div>
                <!-- Blog Post End-->
                <!--Load More Button Start-->
                <div class="text-center mt-4 md:mt-5">
                    <a href="#" class="inline-block text-white bg-red-500 hover:bg-red-600 rounded font-bold py-3 px-7">Load more</a>
                </div>
                <!--Load More Button Start-->
            </main>
        </div>
    </div>
</div>
<script src="assets/js/core.js"></script>
</body>
</html>