{% extends 'Home/index.html.twig' %}

{% block body %}

    <div class="bg-white rounded shadow">
        <div class="p-6 md:p-7 lg:p-9">
            <h1 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-2 text-red-700 text-center">
                Mon Profil
            </h1>
        </div>
    </div>
    <br>
    <div class="bg-white rounded shadow">
        <div class="p-6 md:p-7 lg:p-9">
            <div>
                <p class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Modifier mon mot de passe
                </p>
            </div>
            <form class="mt-8 space-y-6" action="/me/password/update" method="POST">
                <input type="hidden" name="token" value="{{ token }}"/>
                <div class="rounded-md shadow-sm -space-y-px">
                    <div class="p-2">
                        <label for="oldPassword" class="text-base text-gray-500 italic p-2">Ancien mot de passe</label>
                        <input id="oldPassword" name="oldPassword" type="password" required
                               class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                               placeholder="Votre ancien mot de passe ...">
                    </div>
                    <div class="p-2">
                        <label for="newPassword" class="text-base text-gray-500 italic p-2">Nouveau mot de passe</label>
                        <input id="newPassword" name="newPassword" type="password" required
                               class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                               placeholder="Votre nouveau mot de passe ...">
                    </div>
                    <div class="p-2">
                        <label for="confirmPassword" class="text-base text-gray-500 italic p-2">Confirmez votre nouveau mot de passe</label>
                        <input id="confirmPassword" name="confirmPassword" type="password" required
                               class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                               placeholder="Entrez à nouveau votre nouveau mot de passe ...">
                    </div>
                </div>
                <div>
                    <button type="submit"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: save -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"/>
</svg>
          </span>
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>

    <a href="/me" class="mt-4 font-bold text-gray-700 hover:text-gray-500 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
        Retour
    </a>

{% endblock %}